<footer class="footer-area footer-area-v1 footer-area-v2 bg_cover" style="background-image: url('assets/images/footer2.png');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="footer-content-area text-center">
                    <div class="content-box">
                        <a routerLink="/"><img src="assets/images/logo.jpg" alt=""></a><br>
                        <a><img src="assets/images/bassem.png" style="height: 20mm; width: 20mm; border-radius: 100%;"></a>
                        <p>I am Rbaia Bassem, full stack developer, this Web app is made as the final project of my full stack developer training within the FivePoints school.
                            You can contact me via linkedIn or access my gitHub. Thank you.</p>
                        <ul>
                            <li><a [routerLink]="toke? '/home':'/'">Home</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="social-box">
                        <ul>
                            <!-- <li><a target="_blank" href="https://www.facebook.com/bassem.rbaia"><i class="fab fa-facebook-f"></i></a></li> -->
                            <li><a target="_blank" href="https://www.linkedin.com/in/bassem-rbaia-26b3bb12a/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a target="_blank" href="https://github.com/Bassem1234"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<app-backtotop></app-backtotop>