.unselItem{
    font-size: 3.5mm; 
    color: rgb(236,57,139); 
    border-bottom: 1px solid rgb(236,57,139); 
    border-radius: 0%;
}
.selItem{
    font-size: 3.5mm; 
    color: white; 
    background-color: rgb(236,57,139);
    border-bottom: 1px solid rgb(236,57,139); 
    border-radius: 0%;
}
.unselItem:hover{
    font-size: 3.5mm; 
    color: white; 
    background-color: rgb(236,57,139);
    border-bottom: 1px solid rgb(236,57,139); 
    border-radius: 0%;
}
.newMsg{
    border: 2px solid rgb(180, 180, 34);
}

@media screen and (max-width: 819px) {
    #left-menu{
        display: none;
    }
    #left-menu2{
        display: block;
    }
  }
  @media screen and (min-width: 820px) {
    #left-menu{
        display: block;
    }
    #left-menu2{
        display: none;
    }
  }