<header class="header-area header-area-v1">
    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-top d-flex justify-content-between align-items-center">
                    <div class="item">
                        <ul>
                        </ul>
                    </div>
                    <div class="live-link">
                        <a routerLink="/register" style="font-size: 5mm;"
                         ><span [ngClass]="router.url.includes('register')? 'rose':'blank'">register</span></a> 
                         <span style="color: white; margin-left: 2mm;margin-right: 2mm;"> | </span> 
                         <a routerLink="/login" style="font-size: 5mm;">
                        <span [ngClass]="router.url.includes('login')? 'rose':'blank'">Login</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-navigation" id="sticky-header">
        <div class="container custom-container">
            <div class="nav-container d-flex align-items-center justify-content-between" [ngClass]="visible ? '' : 'breakpoint-on'" (window:resize)="detectHeader()" style="background-color: rgb(252,252,252);">
                <!-- site logo -->
                <div class="brand_logo">
                    <a routerLink="/"><img src="assets/images/logo.jpg" class="img-fluid" alt="" style="width: 20mm; height: 10mm; "></a>
                </div>
                <div class="nav-menu" [ngClass]="opennav ? '' : 'menu-on'">
                    <!-- Navbar Close Icon -->
                    <div class="navbar-close"  (click)="closenavBtn()">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- nav-menu -->
                    <nav class="main-menu">
                        <app-menupage></app-menupage>
                    </nav>
                    <div class="nav-pushed-item">
                        <div class="navbar-btn">
                            <a class="main-btn" routerLink="/contact"><i class="fal fa-ticket"></i> Buy Ticket</a>
                        </div>
                    </div>
                </div>
                <div class="nav-push-item" [ngClass]="visible ? '' : 'd-none'" (window:resize)="detectHeader()">
                    <!-- <div class="navbar-btn">
                        <a class="main-btn" routerLink="/contact"><i class="fal fa-ticket"></i> Buy Ticket</a>
                    </div> -->
                </div>
                <!-- Navbar Toggler -->
                <div class="navbar-toggler" [ngClass]="opennav ? '' : 'active'" (click)="opennavBtn()">
                    <span></span><span></span><span></span>
                </div>
            </div>
        </div>
    </div>
</header>