.red{
    border: 1px solid red;
}

.green{
    border: 2px solid rgb(140, 127, 253);
}

.bt{
    border: 1px solid #ec398b;
    border-radius: 0%;
    color: #ec398b;
    font-size: 5mm;
}
.bt:hover{
    background-color: #ec398b;
    border-radius: 0%;
    color: white;
    font-size: 5mm;
}